extends layout

block content
  img(src="")#calibimg
  script(src="/socket.io/socket.io.js")
  script.
    var host = document.location.hostname == 'localhost' ? document.location.hostname + ':3000' : document.location.hostname;
    var socket = io('//'+host);
    socket.on('socketToMe', function (data) {
      document.getElementById("calibimg").style.visibility = "visible";
      var src = "";
      if (data != 'chess') {
        src = "images/sine_00" + data + ".png";  
      } else {
        src = "images/chess.png";
      }
      console.log('got socket data' + data);
      console.log('loading image', src);
      document.getElementById("calibimg").src = src;
    });
